<!DOCTYPE html>
<html>

<head>

    <title>Job Attribute</title>

    {{ template "HeadO"}} 

    {{ template "Header_link" }}

    <link rel="stylesheet" href="../../ui/css/attribute.all.css" />

    <script src="../../ui/js/attribute.all.js"></script>
    <script src="../../ui/js/attribute.add.js"></script>
    <script src="../../ui/js/attribute.delete.js"></script>


</head>

<body>

    {{ template "Header" . }}

    <main>

        {{ template "Attribute All" }}

        {{ template "Attribute Delete" }}

        {{ template "Profile" }}

    </main>

</body>

</html>