#add-member-role + button {
  outline: none;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: border-color, box-shadow;
}

#add-modal-admin div:nth-child(1) p {
  font-weight: 600;
  font-size: 16px;
}

#add-modal-admin div:nth-child(2) {
  padding: 0 0 10px 10px;
}

#add-modal-admin label {
  font-weight: 600;
}
